<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<title>%title%</title>
<link rel="stylesheet" type="text/css" href="templates/knopaste.css" />
</head>

<body>

<div id="toplayer">
<table width="100%">
	<tr>
		<td><span class="title">%title%</span></td>
		<td style="text-align: right;">%tl_links%</td>
	</tr>
</table>
</div>

<div id="mainlayer">
%mainlayer%
</div>

<div id="bottomlayer">
	<table width="100%">
		<tr>
			<td class="bl_left">
				%COPY%
			</td>
			<td class="bl_right">
				&nbsp;
			</td>
		</tr>
	</table>
</div>

</body>
</html>
